@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    @apply block w-full max-w-full;
  }
}

@layer components {
  /* Nav Menu*/
  .menu-mobile {
    @apply invisible absolute -right-52 top-0 z-10 h-screen w-0 overflow-hidden bg-menu p-0 backdrop-blur-2xl transition-all;
  }

  .ativo {
    @apply visible right-0 w-3/4 transition-all;
  }

  .linha {
    width: 473px;
    height: 1px;
    background: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.25;
    transform: translateX(190px);
    z-index: 100;
    display: inline-block;
  }

  /* Nav Menu*/
}

@layer utilities {
  /* Tab Menu */
  .animate__fadeIn {
    animation: fadeIn;
    animation-duration: 2s;
  }

  [data-tab="content"] section {
    display: none;
  }

  [data-tab="content"] section.ativoTab {
    display: block !important;
  }

  [data-tab="img"] li {
    display: none;
  }

  [data-tab="img"] li.ativoTab {
    display: block !important;
  }

  [data-tab="img"] li.ativoTab.show-right {
    animation: show-right 0.5s forwards;
  }

  [data-tab="img"] li.ativoTab.show-down {
    animation: show-down 0.5s forwards;
  }

  [data-tab="content"] section.ativoTab.show-right {
    animation: show-right 0.5s forwards;
  }

  [data-tab="content"] section.ativoTab.show-down {
    animation: show-down 0.5s forwards;
  }

  /* Tab Menu */


  /* Animate */

  @keyframes show-right {
    from {
      opacity: 0;
      transform: translate3d(-30px, 0, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes show-down {
    from {
      opacity: 0;
      transform: translate3d(0, -30px, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

    /* Animate */

  .ativo::after {
    width: 100% !important;
    opacity: 1 !important;
    background-color: #ffffff !important;
  }

  [data-crew="links"] li.ativo {
    opacity: 1 !important;
    background-color: #fff !important;
  }

  [data-tech="link"] li.ativo {
    color: #000;
    background-color: #fff !important;
    border-color: #fff;
  }
}
